/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    min-height: 100%;
}
body {
    background: rgb(255,113,25);
    background: linear-gradient(315deg, rgba(255,113,25,1) 0%, rgba(65,255,0,1) 100%);
}

app-root {
    margin-bottom: 10rem;
}