/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    min-height: 100%;
}
body {
    background: skyblue
}

app-root {
    margin-bottom: 10rem;
    z-index: 1;
}

.toastr {
    z-index: 2;
}