<div class="p-5" [ngClass]="{'bg-gray-100': index % 2 == 0}">
    <div class="flex">
        <div class="record-info grow">
            <div>{{info.site}}</div>
            <div>{{info.email}}</div>
        </div>
        <div class="record-control mt-2 self-end">
            <button type="button"
                class="text-black border-2 border-red-600 w-10 h-10 hover:bg-red-600 hover:text-white duration-150 focus:outline-none inline-block rounded-lg"
                (click)="deleteConfirmationToggle()">
                <fa-icon [icon]="trashIcon"></fa-icon>
            </button>
            <button type="button"
                class="text-black border-2 border-green-600 w-10 h-10 hover:bg-green-600 hover:text-white duration-150 focus:outline-none inline-block rounded-lg"
                (click)="showEditRecord()">
                <fa-icon [icon]="editIcon"></fa-icon>
            </button>
            <button type="button"
                class="text-black border-2 border-blue-600 w-10 h-10 hover:bg-blue-600 hover:text-white duration-150 focus:outline-none inline-block rounded-lg"
                (click)="copyPassword()">
                <fa-icon [icon]="copyIcon"></fa-icon>
            </button>
        </div>
    </div>
    <div class="mt-4 flex" *ngIf="isEditVisible">
        <input #editField type="password" placeholder="Your new password"
            class="grow bg-white border border-gray-400 focus:outline-none focus:border-blue-400 p-2.5 rounded-lg"
            (input)="onInput(editField.value)" [value]="editInput">
        <div class="ml-1 flex items-center">
            <button type="button"
                class="align-bottom text-black border-2 border-green-600 w-10 h-10 hover:bg-green-600 hover:text-white duration-150 focus:outline-none inline-block rounded-lg"
                (click)="editRecord()">
                <fa-icon [icon]="checkIcon"></fa-icon>
            </button>
        </div>
    </div>
    <div class="text-sm text-red-600" *ngIf="isEditVisible && hasError">
        Password can't be blank
    </div>
    <div class="flex flex-col w-full mt-4" *ngIf="isDeleteVisible">
        <div class="text-red-600 grow">
            Deletion is <strong>PERMANENT</strong> and <strong>IRREVERSIBLE</strong>.<br>Are you sure?
        </div>
        <div class="flex mt-4">
            <button (click)="deleteRecord()"
                class="grow text-black border-2 border-green-600 w-10 h-10 hover:bg-green-600 hover:text-white duration-150 focus:outline-none inline-block rounded-lg">
                <fa-icon [icon]="checkIcon"></fa-icon>
            </button>
            <button (click)="deleteConfirmationToggle()"
                class="grow text-black border-2 border-red-600 w-10 h-10 hover:bg-red-600 hover:text-white duration-150 focus:outline-none inline-block rounded-lg">
                <fa-icon [icon]="cancelIcon"></fa-icon>
            </button>
        </div>

    </div>
</div>