<div class="p-5 flex" [ngClass]="{'bg-gray-100': odd}">
    <div class="record-info grow">
        <div>site</div>
        <div>email</div>
    </div>
    <div class="record-control mt-2 self-end">
        <button type="button"
            class="text-black border-2 border-lime-400 w-10 h-10 hover:bg-lime-400 hover:text-white duration-100 focus:outline-none inline-block rounded-lg">
            <fa-icon [icon]="editIcon"></fa-icon>
        </button>
        <button type="button"
            class="text-black border-2 border-red-600 w-10 h-10 hover:bg-red-600 hover:text-white duration-100 focus:outline-none inline-block rounded-lg">
            <fa-icon [icon]="trashIcon"></fa-icon>
        </button>
    </div>
</div>